{% if site.posts.size > 0 %}
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list-item">
        <p class="post-meta">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          • {{ post.date | date: site.theme_config.date_format }}
          {% if post.vault %}
            • Vault: {{ post.vault }}
          {% endif %}
        </p>

        {% if post.excerpt and post.excerpt != "" %}
          <p class="post-excerpt">
            {{ post.excerpt }}
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
